<script type="text/x-jquery-tmpl" id="table-template">
    <table border="1" label="{{= label }}" class="json-data-table">
        <tr class="header-row">
            <th>
                {{= label }}
            </th>
            {{each(i, column) headers.columnHeaders}}
                {{tmpl({column:column, column_id:i}) "column-header"}}
            {{/each}}
            <th class="add-column">
                <button>Add {{= defaults.columnName }}</button>
            </th>
        </tr>
        {{each(i, row) headers.rowHeaders}}
            {{tmpl({row:row, headers:headers, data:data, label:label, row_id:i}) "row"}}
        {{/each}}
        <tr><th><button class="add-row">Add {{= defaults.rowName }}</button></th></tr>
    </table>
</script>

<script type="text/x-jquery-tmpl" id="column-header-template">
    <th class="column-header">
        {{tmpl({column:column, column_id:column_id}) "column-header-widget"}}
    </th>
</script>


<script type="text/x-jquery-tmpl" id="row-template">
<tr class="data-row">
    <th class="row-header">
        {{tmpl({row:row, row_id:row_id}) "row-header-widget"}}
    </th>
    {{each(j, column) headers.columnHeaders}}
        {{tmpl({data:data, row:row, column:column, table:label, row_id:row_id, column_id:j}) "cell"}}
    {{/each}}
</tr>
</script>

<script type="text/x-jquery-tmpl" id="row-header-widget-template">
    {{if row.match(/,/) || row == ""}}
        <select class="fragment">
            {{each [{i:-1,v:'under'},{i:0,v:'at'},{i:1,v:'over'}]}}
                <option value="${i}" {{if row.match(RegExp("^"+i))}}selected="selected"{{/if}}>${v}</option>
            {{/each}}
        </select>
        <input type="number" value="${ row.split(/,/)[1] }" class="fragment">
    {{else}}
        ${ row }
    {{/if}}
    <input type="hidden" value="{{= row }}" row_id="{{= row_id }}" class="heading-value">
</script>

<script type="text/x-jquery-tmpl" id="column-header-widget-template">
    {{if column.match(/;/) || column == ""}}
        <div>
            <select class="fragment" onchange="$(this).closest('div').siblings().hide().end().siblings('.'+$(this).val()).show();">
                {{each(idx,type) {day:"On the day(s)",every:"Every"} }}
                    <option value="{{= idx }}" {{if column.split(/;/)[0] == type}}selected="selected"{{/if}}>
                        {{= type}}
                    </option>
                {{/each}}
            </select>
        </div>
        <div class="day" {{if !column.match(/^(day);/)}} style="display:none;"{{/if}}>
            <select class="fragment" multiple="multiple">
                {{each(idx, day) ["Monday","Tuesday","Wednesday","Thursday","Friday","Saturday","Sunday"]}}
                    <option value="{{= idx}}" {{if column.match(/^day/) && column.split(/;/)[1].match(RegExp(idx))}} selected="selected"{{/if}}>{{= day }}</option>
                {{/each}}
            </select>
            between
            <input type="time" value="{{if column.match(/^day/)}}{{= column.split(';')[2] }}{{else}}00:00{{/if}}" class="fragment">
            and
            <input type="time" value="{{if column.match(/^day/)}}{{= column.split(';')[3] }}{{else}}00:00{{/if}}" class="fragment">
            (select 00:00 - 00:00 for all day)
        </div>

        <div class="every" {{if !column.match(/^(every);/)}} style="display:none;"{{/if}}>
            <input type="number" value="{{if column.match(/^every/)}}{{= column.split(/;/)[1]}}{{else}}1{{/if}}" class="fragment">
            <select class="fragment">
                {{each(idx,type) ["shift","day","week","month"]}}
                    <option value="{{= type}}" {{if column.match(/^every/) && column.split(/;/)[2] == type}}selected="selected"{{/if}}>
                        {{= type}}(s)
                    </option>
                {{/each}}
            </select>
            where hours worked exceeds
            <input type="number" value="{{if column.match(/^every/)}}{{= column.split(/;/)[3]}}{{else}}0{{/if}}" class="fragment">
        </div>

    {{else}}
        {{= column}}
    {{/if}}
    <input type="hidden" value="{{= column }}" column_id="{{= column_id }}" class="heading-value">
</script>


<script type="text/x-jquery-tmpl" id="cell-template">
    <td>
    <input 
        type="text" value="{{if data[row]}}{{= data[row][column] }}{{/if}}" class="cell-value"
        row="{{= row }}" column="{{= column }}" table="{{= table }}"
        row_id="{{= row_id }}" column_id="{{= column_id }}"
    >
    </td>
</script>